[data-id="home-law"] {
	.home-law {
		&__main {
			background-color: #f1e9e3;
			border: 1px solid #e4cbb8;
			padding: 42px 40px 40px;
			border-radius: 32px;
			margin-top: -150px;
			position: relative;
			@media screen and (max-width: 1400px) {
				padding: 30px 20px;
				margin-top: 0;
			}
			@media screen and (max-width: $xl) {
				margin-top: -100px;
			}
			@media screen and (max-width: $lg) {
				border-radius: 0;
				padding: 24px 15px 32px;
			}
		}
		&__toggle {
			border-radius: 95px;
			background: #f8f8f8;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			position: relative;
			height: 52px;
			max-width: 822px;
			margin: 0 auto 40px;
			overflow: hidden;
			span {
				position: absolute;
				z-index: 1;
				left: 2px;
				top: 2px;
				width: calc(50% - 2px);
				height: calc(100% - 4px);
				border-radius: 95px;
				background: #141b47;
				transition: transform 0.3s ease-in-out;
			}
			&[data-active="tab1"] {
				.home-law__button:first-child {
					color: #fff;
				}
			}
			&[data-active="tab2"] {
				.home-law__button:last-child {
					color: #fff;
				}
				span {
					transform: translateX(100%);
				}
			}
		}
		&__button {
			color: #09112d;
			font-size: 16px;
			font-weight: 500;
			position: relative;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			&:not(.active):hover {
				opacity: 0.7;
			}
		}
		@media screen and (max-width: $lg) {
			&__container {
				padding: 0;
			}
		}
		@media screen and (max-width: $sm) {
			&__button {
				font-size: 14px;
			}
		}
		@media screen and (max-width: 350px) {
			&__button {
				font-size: 12px;
			}
		}
	}

	.law-item {
		display: flex;
		align-items: flex-start;
		&:not(.active) {
			display: none;
		}
		> img {
			display: none;
		}

		&__left {
			width: 50%;
			padding-right: 64px;
			// margin-right: 64px;
			// border: 1px solid red;
		}
		&__title {
			font-size: 48px;
			font-weight: 500;
			text-transform: uppercase;
			margin: 0 0 16px;
            color:#1C203F;
		}
		&__subtitle {
			color: #383c47;
			font-size: 24px;
			font-weight: 600;
			text-transform: uppercase;
			margin: 0 0 12px;
		}
		&__text {
			color: #484c58;
			font-size: 16px;
			font-weight: 500;
			margin: 0 0 32px;
		}
		img {
			border-radius: 12px;
		}
		&__right {
			flex: 1;
			display: flex;
			flex-wrap: wrap;
			border-left: 2px dashed #a7a7a7;
			border-right: 2px dashed #a7a7a7;
			// border: 1px solid red;
		}
		&__link {
			flex: 1 0 calc(50% - 24px);
			color: #09112d;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
			margin: 12px;
			padding: 0 20px;
			position: relative;
			justify-content: space-between;
			span {
				transition: all 0.25s;
                width: calc(100% - 32px);
			}
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				bottom: -12px;
				left: 0;
				height: 2px;
				border-bottom: 2px dashed #a7a7a7;
			}
			&:nth-child(odd) {
				&::after {
					content: "";
					position: absolute;
					right: -14px;
					top: 0;
					height: 100%;
					border-left: 2px dashed #a7a7a7;
				}
			}
			&--last-row-item {
				margin-bottom: 0;
				&::before {
					display: none;
				}
				&.law-item__link--last-item-in-row {
					&:after {
						display: none;
					}
				}
			}
			svg {
				margin-top: 40px;
				transition: all 0.25s;
			}
			&:hover {
				span {
					opacity: 0.7;
				}

				svg {
					transform: rotate(45deg);
				}
			}
		}
		@media screen and (max-width: $lg) {
			flex-direction: column;
			> img {
				display: block;
				width: calc(100% + 32px);
				border-radius: unset;
				margin-left: -16px;
				margin-right: -16px;
				max-width: calc(100% + 32px);
			}
			&__left {
				width: 100%;
				padding-right: 0;
				margin-right: 0;
				img {
					display: none;
				}
			}
			&__right {
				width: 100%;
				margin-top: 40px;
				margin-bottom: 24px;
			}
			&__title {
				font-size: 24px;
				margin-bottom: 9px;
				font-weight: 700;
			}
			&__subtitle {
				margin-bottom: 15px;
				font-size: 20px;
			}
			&__text {
				font-size: 16px;
				margin-bottom: 0px;
			}
		}
		@media screen and (max-width: 767px) {
			&__link {
				padding: 0;
			}
		}
		@media screen and (max-width: 575px) {
			&__right {
				border: none;
				width: calc(100% + 32px);
				left: -16px;
				position: relative;
			}
			&__link {
				flex: 100%;
				margin: 0;
				display: flex;
				column-gap: 10px;
				flex-direction: row;
				padding: 16px;
				font-size: 16px;
				align-items: center;
				&:before {
					bottom: -2px;
				}
				svg {
					margin-top: 0;
				}
				&:nth-child(odd) {
					&::after {
						display: none;
					}
				}
				&:first-child {
					border-top: 2px dashed #a7a7a7;
				}
				&--last-row-item {
					&::before {
						display: block;
					}
					&.law-item__link--last-item-in-row {
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
}
