.home-reviews {
    margin-top: 88px;
    &__title {
        @include section-title;
        text-align: center;
    }
    &__logos {
        margin-top: 80px;
        // display: flex;
        // column-gap: 32px;
    }
    &__logo {
        height: auto;
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 104px;

        display: none;
        img {
            width: auto;
            max-width: 100%;
            height: auto;
        }
    }
}
