.home-team {
	margin-top: 188px;
	@media (max-width: 1199px) {
		margin-top: 94px;
	}
	&__top {
		display: flex;
		column-gap: 90px;
		padding: 0 40px;
		@media (max-width: 1199px) {
			display: flex;
			flex-direction: column;
			padding: 0;
		}
	}
	&__title {
		@include section-title;
		// width: 546px;
		flex: 1;
	}

	&__desc {
		flex: 1;
		color: #484c58;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		margin: 0;
		margin-top: 8px;
		@media (max-width: 1199px) {
			min-width: auto;
			width: 100%;
			margin-top: 16px;
			font-size: 16px;
		}
	}
	.swiper-wrapper {
		@media (min-width: 1200px) {
            display: flex;
            column-gap: 40px;
		}
	}
	&__main {
		padding: 135px 16px 20px;
		border-bottom: 2px solid #d8d8d8;
		overflow: hidden;
		@media (max-width: 1199px) {
			border-bottom: 2px solid #e4cbb8;
		}
		@media (max-width: 767px) {
			padding: 60px 16px 48px;
		}
	}
	&__items {
		// padding: 0 40px;
		// display: flex;
		// // justify-content: space-between;
		// flex-wrap: nowrap;
		// gap: initial;
		// width: auto;
		// border:1px solid red;
		// overflow: hidden;
		// @media (max-width: 1199px) {
		// 	padding: 0 10px;
		// 	flex-wrap: nowrap;
		// 	width: 100%;
		// 	gap: initial;
		// 	justify-content: normal;
		// }
	}
	&__item-wrap {
		width: auto;
        flex:1;
		@media (max-width: 1199px) {
			width: 190px;
            flex:none;
		}
		&:nth-child(1),
		&:nth-child(4n + 1) {
			.home-team__item {
				background: linear-gradient(
					164deg,
					rgba(255, 136, 73, 0) 12.7%,
					#ff8849 72.01%
				);
			}
		}
		&:nth-child(2),
		&:nth-child(4n + 2) {
			.home-team__item {
				background: linear-gradient(
					190deg,
					rgba(216, 102, 96, 0) 15.68%,
					#d86660 68.05%
				);
			}
		}
		&:nth-child(3),
		&:nth-child(4n + 3) {
			.home-team__item {
				background: linear-gradient(
					178deg,
					rgba(91, 75, 118, 0) 4.46%,
					#5a4a75 69.01%
				);
			}
		}
		&:nth-child(4),
		&:nth-child(4n + 4) {
			.home-team__item {
				background: linear-gradient(
					178deg,
					rgba(169, 97, 108, 0) 8.57%,
					#a9616c 98.63%
				);
			}
		}
	}
	&__item {
		flex-shrink: 0;
		border-radius: 512px;
		position: relative;
		width: 100%;
		height: 452px;
		@media (max-width: 1399px) {
			height: 386px;
		}
		@media (max-width: 1199px) {
			height: 306px;
		}
		img {
			position: absolute;
			bottom: -1px;
			left: 0;
			z-index: 2;
			border-radius: 512px;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: bottom;
			filter: grayscale(100%);
			transition: all 0.3s;
			&:hover {
				filter: grayscale(0);
			}
		}
		svg {
			position: absolute;
			width: 100%;
			height: 100%;
			left: -16px;
			top: -16px;
			z-index: 1;
		}

		&__name-wrap {
			margin-top: 24px;
			text-align: center;
			font-size: 18px;
			font-style: normal;
			display: flex;
			flex-direction: column;
		}
		&__name {
			color: #1c203f;
			font-weight: 300;
		}
		&__surname {
			color: #484c58;
			font-weight: 900;
		}
	}
	&__controls {
		margin-top: 80px;
		display: flex;
		align-items: center;
		position: relative;
		.swiper-button-prev {
			border-radius: 60px;
			border: 2px solid #a7a7a7;
			padding: 8px 21px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			margin-right: 13px;
			transition: opacity 0.3s ease-in-out;
			&:hover {
				opacity: 0.7;
			}
		}
		.swiper-button-next {
			border-radius: 60px;
			border: 2px solid #1c203f;
			padding: 8px 21px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: #1c203f;
			transition: opacity 0.3s ease-in-out;
			&:hover {
				opacity: 0.7;
			}
		}

		@media (max-width: 1199px) {
			display: none;
		}
	}
	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 16px;
		width: calc(100% - 320px);
		left: 50%;
		transform: translateX(-50%);
		.swiper-pagination {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.swiper-pagination-bullet {
			border-radius: 95px;
			opacity: 0.32;
			background: #1c203f;
			width: 16px;
			display: block;
			height: 12px;
			transition: color 0.3s ease-in-out, width 0.3s ease-in-out,
				opacity 0.3s ease-in-out;
			&:not(:last-child) {
				margin-right: 12px;
			}
			&.swiper-pagination-bullet-active {
				opacity: 1;
				border-radius: 95px;
				background: #1c203f;
				width: 40px;
			}
		}
	}
	@media (max-width: 1199px) {
		&__scrollbar {
			margin-top: 38px;
			display: block;
			border-radius: 95px;
			background: rgba(228, 203, 184, 0.32);
			// margin-right: 15px;
			width: calc(100% + 30px);
            left:-15px;
            position: relative;

			.swiper-scrollbar {
				display: block;
				width: 100%;
				height: 12px;
				.swiper-scrollbar-drag {
					border-radius: 95px;
					background: #1c203f;
					height: 100%;
				}
			}
		}
	}
}
