body:not([class*="page-paged"]):not(.archive) {
	[data-id="blog"] {
		.news-list {
			&__main {
				.news-item:nth-child(1) {
					width: 100%;
					@media (min-width: 991px) {
						display: flex;
						column-gap: 24px;
						padding-bottom: 0;
						align-items: center;
						&:after {
							display: none;
						}
						.news-item__image {
							height: auto;
							width: 40%;
							padding-bottom: 0;
							margin-bottom: 0;
						}
						.news-item__contentWrap {
							flex: 1;
							padding-bottom: 24px;
							border-bottom: 2px solid #d8d8d8;
						}
					}
				}
				.news-item:not(:first-child) {
					width: calc(33.33% - 40px);
				}
			}
		}
	}
}
[data-id="blog"] {
	// @import "../Recommendations//help";
	@media screen and (max-width: $xl) {
		margin-top: 24px;
	}
	.news-list {
		&__title {
			@include title;
			margin-bottom: 0;
		}
		&__main {
			display: flex;
			flex-wrap: wrap;
			gap: 64px 40px;
			margin: 64px 0;

			.news-item {
				width: calc(33.33% - 40px);
			}

			@media screen and (max-width: $lg) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 32px;
				margin-left: 0;
				margin-right: 0;
				margin-top: 32px;
				.news-item {
					width: 100% !important;
					margin: 0;
				}
			}
			@media screen and (max-width: $md) {
				grid-template-columns: 1fr;
			}

			.news-item {
				padding-bottom: 24px;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 8px;
					width: calc(100% - 16px);
					border-bottom: 2px solid #d8d8d8;
				}
				&:hover {
					.news-item__button {
						svg {
							transform: translateX(4px);
						}
					}
					// .news-item__image {
					// 	img {
					// 		transform: scale(1.02);
					// 	}
					// }
					.news-item__title {
						opacity: 0.7;
					}
				}
				&__image {
					border-radius: 16px;
					// border: 1px solid #e4cbb8;
					height: 204px;
					margin-bottom: 16px;
					overflow: hidden;
					// background: #fdeff0;
					img {
						width: 100%;
						height: 100%;
						// object-fit: cover;
						object-fit: contain;
						transition: all 0.2s;
					}
				}
				&__data {
					display: flex;
					column-gap: 7px;
					font-size: 14px;
					font-weight: 500;
					color: #484c58;
					align-items: center;
					margin: 0 8px 12px 8px;
					&__separator {
						border-radius: 50%;
						display: flex;
						width: 4px;
						height: 4px;
						background: #484c58;
					}
				}

				&__title {
					font-size: 20px;
					font-weight: 700;
					line-height: 1.4;
					margin: 0 8px 12px;
					transition: all 0.2s;
				}
				&__text {
					color: #484c58;
					font-size: 18px;
					font-weight: 500;
					margin: 0 8px 40px;
				}
				&__button {
					display: flex;
					align-items: center;
					padding: 12px 16px 12px 0;
					font-size: 16px;
					font-weight: 600;
					margin-left: 8px;
					margin-right: 8px;
					svg {
						margin-left: 8px;
						transition: transform 0.2s ease-in-out;
					}
				}

				@media screen and (max-width: $lg) {
					&::after {
						width: 100%;
						left: 0;
					}
					&__image {
						height: 281px;
					}
					&__data {
						margin: 0 0 12px 0;
					}
					&__date,
					&__title,
					&__text {
						margin-bottom: 16px;
						margin-left: 0;
						margin-right: 0;
					}
					&__button {
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}
		&__pagination {
			margin-bottom: 56px;
			@media screen and (max-width: $lg) {
				margin-top: 24px;
				margin-bottom: 72px;
			}
			.prev,.next{
				border-radius: 60px;
				border: 2px solid #a7a7a7;
				padding: 8px 21px;
				display: flex;
				align-items: center;
				justify-content: center;
                cursor: not-allowed;
				transition: opacity 0.3s ease-in-out;
                pointer-events: none;
				&:hover {
					opacity: 0.7;
				}
                &.active{
                    border: 2px solid #1c203f;
                    background: #1c203f;
                    cursor: pointer;
                    pointer-events: all;
                }
			}
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
				display: flex;
				align-items: center;
				justify-content: center;
				li {
					a {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;
					}
					&:not(:last-child) {
						margin-right: 12px;
					}
					&:not(:first-child):not(:last-child) {
						width: 48px;
						height: 48px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						color: #1c203f;
						text-align: center;
						font-size: 16px;
						font-weight: 600;
						border: 2px solid #b5adb7;
					}
					&:first-child {
						margin-right: 24px;
					}
					&:last-child {
						margin-left: 12px;
					}
					&.active {
						background: #f1e9e3;
					}
				}
			}
			@media screen and (max-width: $lg) {
				.prev,
				.next {
					padding: 0;
					width: 52px;
					height: 48px;
					margin: 0;
					svg {
						width: 24px;
					}
				}
				ul {
					li {
						&:not(:last-child) {
							margin-right: 8px;
						}
						&:first-child {
							margin-right: 12px;
						}
						&:last-child {
							margin-left: 4px;
						}
					}
				}
			}
			@media screen and (max-width: 400px) {
				.prev,
				.next {
					width: 34px;
					height: 34px;
					svg {
						width: 16px;
					}
				}
				ul {
					li {
						&:not(:last-child) {
							margin-right: 4px;
						}
						&:first-child {
							margin-right: 8px;
						}
						&:last-child {
							margin-left: 4px;
						}
						&:not(:first-child):not(:last-child) {
							width: 34px;
							height: 34px;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
