[data-id="law-single"] {
	@import "./content";
	.contents-brands {
		background: rgb(148 57 11 / 8%);
		padding: 104px 0;
		@media (max-width: 991px) {
			padding: 44px 0;
		}
	}
	[data-id="recommendations-help"] {
		margin: 0;
         img{
            display: none !important;
        }
	}
}
