.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  &__separator {
    margin: 0 8px;
  }
  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.14px;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
  @media screen and (max-width: $lg) {
    margin-bottom: 16px;
  }
}
