[data-id="c-hero"] {
	margin-top: 40px;
	padding-bottom: 70px;
	margin-bottom: -66px;
	.c-hero {
		&__main {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}
		&__left {
			margin-top: 34px;
			width: 50%;
			h1 {
				@include title;
			}
			p {
				@include text;
			}
		}
		&__right {
			width: 50%;
			display: flex;
			justify-content: flex-end;
			padding-left: 50px;
			img {
				width: 634px;
				max-width: 100%;
			}
		}
		&__image {
			position: relative;
			img {
				border-radius: 32px;
				overflow: hidden;
				position: relative;
				z-index: 1;
			}
			.blur {
				position: absolute;
				top: 40px;
				left: 13px;
				width: calc(100% - 26px);
				z-index: 0;

				img {
					opacity: 0.4;
					filter: blur(24px);
				}
			}
		}
		@media (max-width: 1199px) {
			&__left {
				margin-top: 0;
			}
		}
		@media (max-width: 767px) {
			&__main {
				flex-direction: column;
			}
			&__left {
				width: 100%;
			}
			&__right {
				width: 100%;
				justify-content: center;
				padding-left: 0;
				margin-top: 30px;
			}
		}
		@media (max-width: 575px) {
			&__container {
				padding: 0;
			}
			&__image {
				img {
					border-radius: 0;
				}
				.blur {
					display: none;
				}
			}
            &__left{
                padding:0 16px;
            }
		}
	}
}
