[data-id="recommendation-logos"] {
	margin-bottom: 80px;
	overflow: hidden;
	.recommendation-logos {
		&__title {
			@include subtitle;
			margin-bottom: 24px;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 30px 60px;
		}
		&__item {
			height: 74px;
			display: flex;
			align-items: center;
			justify-content: center;
			// border: 1px solid red;
			width: calc(20% - 60px);
			img {
				height: 100%;
				object-fit: contain;
			}
		}
	}
	@media screen and (max-width: 1199px) {
		margin-top: 72px;
		.recommendation-logos {
			&__title {
				margin-bottom: 32px;
			}
			&__list {
				gap: 30px 40px;
				justify-content: flex-start;
			}
			&__item {
				width: calc(20% - 34px);
				height: 44px;
			}
		}
	}
	@media screen and (max-width: 767px) {
		.recommendation-logos {
			&__item {
				width: calc(33% - 30px);
			}
		}
	}
	@media screen and (max-width: 576px) {
		.recommendation-logos {
			&__item {
				width: calc(50% - 22px);
			}
		}
	}
}
