html,
body {
	overflow-x: hidden;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	background-image: url("../../assets/img/bg-pattern.jpg");
	background-repeat: repeat;
	&.overflow-hidden {
		overflow: hidden;
	}
}
html {
	scroll-padding-top: 100px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	z-index: 2;
	.bg-splash {
		position: absolute;
		z-index: -1;
		height: auto;
		pointer-events: none;
		&--1 {
			top: 0;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			img {
				width: 100%;
			}
		}
		&--2 {
			top: 0;
			left: 0;
			width: auto;
		}
		&--3 {
			top: 15%;
			right: 0;
			@media (max-width: 767px) {
				display: none;
			}
		}
		&--4 {
			top: 40%;
			left: 0;
		}
	}
	// .overlay {
	// 	// mix-blend-mode: difference;
	// 	display: none;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	// opacity: 0.12;
	// 	// display: block;
	// }
	// // main,
	// // header,
	// // footer {
	// //   position: relative;
	// //   z-index: 1;
	// // }
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img {
	//   width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

strong {
	font-weight: 700;
}

[class*="__container"] {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;

	@media screen and (max-width: 1400px) {
		max-width: 1190px;
	}
}

a {
	color: inherit;
	text-decoration: none;
	&:visited,
	&:hover {
		text-decoration: none;
	}
}


// widget google
.ti-widget.ti-goog .ti-popup-widget{
    padding: 100px 0 !important; 
}
.ti-widget.ti-goog .ti-popup-widget .ti-popup-widget-inner{
    height: 100% !important;
}